// This is a basic css 12-column grid layout

/*
  Calculating Column Widths

  Calculation for a SINGLE column width
  scw = (100 – (m * (mc – 1))) / mc
    (100 - (1.6 * 11)) / 12
    (100 - 17.6) / 12
    82.4 / 12         // 82.4 is the total width of 11/12 columns MINUS margins
    6.86666666667

  (100 – (m * (mc – 1))) / mc
  (100 - (1 * (12-1))) / 12

  scw = single column width
  m = margin gutters (1%)
  mc = maximum columns (12)

  (100 - (1 * (12-1))) / 12

  Where:

  scw = single column width
  m = margin (1.6%)
  mc = maximum columns (12)

  Calculation for the REST of the column widths

  cw = (scw * cs) + (m * (cs – 1))
  
  Where:

  cw = column width
  scw = single column width (6.86666666667%)
  cs = column span (1-12)
  m = margin (1.6%)
  
  2/12  == (6.86666666667 * 2) + (1.6 * (2 - 1)); width = 15.3333333333
  3/12  == (6.86666666667 * 3) + (1.6 * (3 - 1)); width = 23.8
  4/12  == (6.86666666667 * 4) + (1.6 * (4 - 1)); width = 32.2666666667
  5/12  == (6.86666666667 * 5) + (1.6 * (5 - 1)); width = 40.7333333333
  6/12  == (6.86666666667 * 6) + (1.6 * (6 - 1)); width = 49.2
  7/12  == (6.86666666667 * 7) + (1.6 * (7 - 1)); width = 57.6666666667
  8/12  == (6.86666666667 * 8) + (1.6 * (8 - 1)); width = 66.1333333333
  9/12  == (6.86666666667 * 9) + (1.6 * (9 - 1)); width = 74.6
  10/12 == (6.86666666667 * 10) + (1.6 * (10 - 1)); width = 83.0666666667
  11/12 == (6.86666666667 * 11) + (1.6 * (11 - 1)); width = 91.5333333333
  12/12 == (6.86666666667 * 12) + (1.6 * (12 - 1)); width = 100

 */

// Column maps to the column length(out of 12) in the grid list
// gutter is the gutter length( in %)
@function grid-width($column, $gutter) {
  
  // (100 - (1 * (12-1))) / 12
  // Replace 1 with gutter
  // $col: 7.41666666667%;
  $col-pre: (100 - ($gutter * (12 - $gutter))) / 12;
  $col: $col-pre;

  $grid: (
    'col-1': $col,
    'col-2': ($col * 2) + ($gutter * (2 - 1)) * 1%,
    'col-3': ($col * 3) + ($gutter * (3 - 1)) * 1%,
    'col-4': ($col * 4) + ($gutter * (4 - 1)) * 1%,
    'col-5': ($col * 5) + ($gutter * (5 - 1)) * 1%,
    'col-6': ($col * 6) + ($gutter * (6 - 1)) * 1%,
    'col-7': ($col * 7) + ($gutter * (7 - 1)) * 1%,
    'col-8': ($col * 8) + ($gutter * (8 - 1)) * 1%,
    'col-9': ($col * 9) + ($gutter * (9 - 1)) * 1%,
    'col-10': ($col * 10) + ($gutter * (10 - 1)) * 1%,
    'col-11': ($col * 11) + ($gutter * (11 - 1)) * 1%,
    'col-12': ($col * 12) + ($gutter * (12 - 1)) * 1%,
  );

  @return map-get($grid, $column);
}


