
// clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin playShape {
  display: block;
  position: relative;
  border-color: transparent black;
  border-style: solid;
  border-color: transparent black;
  border-width: 20px 0px 20px 35px;

  &:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-color: transparent blue;
  }
}

@function break-point($size) {

  // Media Query Breakpoints
  $breakpoints: (
    small: 0px,
    medium: 640px,
    xmedium: 887px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
  );

 @return map-get($breakpoints, $size);
}
