// jumbotron styling


// jumbo text content
.jumbo-content {
  padding: 10rem 1rem;

  background-color: main-color('foreground-light');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;

  h1 {
    font-size: 3em;
  }
}

.jumbo-list {
  list-style: none;

  margin: 0 auto;
  // padding: 1em;

  @include clearfix;

  // grid layout for jumbo options
  li {
    background-image: url("https://placehold.it/600x338"); 
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

    float: left;
    display: inline-block;

    height: 310px;
    width: grid-width('col-6', 1);
    margin-left: 1%;
    margin-bottom: 1%;
  }
  

  // center images
  li a {
    font-size: 2em;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}

.jumbo-list {
    // ensuring first element of each row has no margin-left
    li:nth-child(2n + 1) {
      margin-left: 0;
    }
  }


@media screen and (min-width: 200px) and (max-width: 549px) {
  
}