.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: main-color('primary');
}

.player-controls {
  float: left;
  margin: 0 auto;
  max-width: $max-width;
}

// svg icon styles
.icon {
  cursor: pointer;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;


  &:active {
    fill: darken(main-color('secondary'), 15%);
  }
}

// player icons
.player .icon {
  fill: main-color('foreground-light');
}

// search results icons
.table .icon {
  position: relative;
  bottom: 5.5rem;
  left: 1.5rem;
  fill: white;
  opacity: 0;
  &:hover {
    opacity: 1;
    fill: main-color('foreground-light');
  }
}

.icon-volume-high {
  width: 1.0625em;
}


.play-btn {

}

.previous-btn {
}

.track-info {
  margin-top: .75rem;
  color: main-color('foreground-light');
}


// seek bar
.seek-bar {
  width: 50%;
  background-color: main-color('foreground-light');
}

.seek-bar-current-time,
.seek-bar-end-time {
  color: main-color('secondary');
}