.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: main-color('primary');
}

// svg icon styles
.icon {
  cursor: pointer;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// active style for when svg is clicked
svg.icon {
  &:active {
    fill: main-color('accent');
  }
}

// player icons
.player .icon {
  fill: main-color('foreground-light');
}

#icon-pause2 {
  fill: main-color('accent');
}

// seek bar
.seek-bar-container {
  margin: 0.5rem 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.seek-bar {
  flex-grow: 80;
}

// player info section
.player-info {

}


// seek bar times

// .seek-time-container {
//   display: flex;
//   justify-content: space-between;
// }

.seek-bar-current-time,
.seek-bar-end-time {
  flex-grow: 1;
  text-align: center;
  color: main-color('secondary');
}

// // seek bar controls + track info
// .active-track-container {
//   padding: 0 1rem;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
// }
// 

.player-info {
  flex-basis: 100%;

  // flex-basis done so player controls + track info take up static positions
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

// child container for flex stying
.player-info-container {
  padding: 0 1rem 0.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.player-controls {
  text-align: center;

  // shuffle btn
  #shuffle-input {
    display: none;
  }

  .icon-shuffle {
    fill: darken(main-color('foreground-light'), 65%);
  }

  input[type="checkbox"]#shuffle-input:checked + label > .icon-shuffle {
    fill: main-color('accent');
  }
}

// volume
.volume-container {
  text-align: right;

  .icon {
    margin: 0 0.5rem;
  }
}

.track-info {
  color: main-color('foreground-light');
  display: flex; 
  align-items: center;   
    // individual track art
  .track-art {
    max-height: 50px;
    display: inline;
  }

  .track-text-info {
    margin-left: 1rem;
    display: inline;
  }

  .track-author {
    color: darken(main-color('foreground-light'), 50%);
  }
}


// media queries
@media only screen and (min-width: 200px) {
  
}

@media only screen and (min-width: 560px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 900px) {
  // layout of 33% split between player, info, and volume controls
  .player-info {
    flex-basis: 33%;
  }

  .volume-container {
    flex-basis: 25%;
  }

  .player-info-container {
      // done so sizes are even between 3 major player components
      &> div {
        flex-grow: 1;
      }
  }
}